html {
  font-size: 14px;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #FFFFFF;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.nav-text {
  font-style: normal;
  font-weight: 300;
  /* font-size: 29px; */
  line-height: 34px;
}

/* HOMEPAGE */

.hero-section {
  width: 70%;
  /* position: relative; */
}

.hero-text {
  color: #ED1C24;
  font-size: 40px;
}

.hero-desc {
  /* flex-grow: 4; */
  padding-right: 200px;
}

.hero-image1 {
  /* margin-top: auto; */
  /* width: 100%; */
  margin: 0;
  width: 20em;
}

.hero-section .hero-button {
  border: 1px solid #01942A;
  box-sizing: border-box;
  color: #01942A;
}

.dot {
  height: 10px;
  width: 10px;
  /* background-color: #bbb; */
  border-radius: 50%;
  border: 1px solid #6B6B6A;
  display: inline-block;
  margin-top: 90px;
}

.dot:first-child {
  background: #6B6B6A;
}

hr {
  border: 2px solid #B5B1A3;
  width: 85%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.hero-image2 {
  /* margin-top: auto; */
  /* align-self: center; */
  /* left: 1639px;
  top: 364px; */
  /* position: absolute; */
  width: 30em;
  /* box-shadow: 21px 17px 36px rgba(0, 0, 0, 0.05); */
  /* transform: matrix(-1, 0, 0, 1, 0, 0); */
}

.hero-image2-box {
  margin-left: -400px;
}

.testing {
  display: flex;
  justify-content: center;
  align-items: center;
}

.natural-component .leave {
  transform: rotate(-36.18deg);
}

.social-icons {
  align-self: flex-end;
}

.above-about {
  /* position: absolute; */
  /* z-index: 10; */
  /* right: 50%; */
  /* top: 0; */
  /* left: -350px; */
  /* bottom: 60%; */
  margin-left: -315px;
  margin-bottom: -150px;
}

.above-about-box {
  background: #D5C183;
  ;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.25);
  max-width: 300px;
  max-height: 170px;
  padding-top: 10px;
}

.above-about-box img {
  width: 150px;
  height: 100px;
  margin-top: 20px;
  /* margin-right: 50px; */
  padding-right: 10px;
  mix-blend-mode: multiply;
}

.above-about-box h5 {
  color: #ED1C24;
  font-weight: bold;
}

.above-about-box .card-text {
  color: #6B6B6A;
  font-size: 12px;
}

.above-about-box .watch {
  color: #01942A;
  white-space: nowrap;
  font-size: 12px;
}

.company-profile {
  background-color: white;
  /* padding-bottom: 300px; */
  /* margin: 50px; */
  /* position: absolute; */
  background: #FFFFFF;
  box-shadow: 0px 0px 41px rgba(0, 0, 0, 0.15);
  padding: 100px;
}

.company-profile img {
  width: 200px;
  height: 200px;
}

.company-profile h2, .company-profile p {
  /* font-size: 42px; */
  /* line-height: 49px; */
  text-align: center;
  color: #6B6B6A;
}

.company-profile>h1 {
  color: #ED1C24;
  font-size: 40px;
  text-align: center;
}

.company-profile h2 {
  font-size: 30px;
}

.company-profile img {
  width: fit-content;
}

.ginseng {
  /* background: url(./images/ginseng_root.svg); */
  transform: rotate(-5.35deg);
  margin-top: -500px;
  margin-bottom: -300px;
  width: 10%;
}

.ginger-leaf {
  transform: rotate(-30.55deg);
  /* margin-top: -100px; */
  margin-bottom: -700px;
  /* margin-right: -900px; */
}

.offerings {
  /* position: absolute; */
  /* margin: 200px; */
  /* margin-left: 200px;
  margin-top: 700px; */
  /* z-index: 9; */
}

.offerings>h1 {
  color: #ED1C24;
}

.offerings .card-deck .card {
  background-color: #D5C183;
  /* border: 1px solid #D5C183;; */
  box-sizing: border-box;
  box-shadow: 0px 0px 20px rgba(255, 224, 157, 0.5);
  border-radius: 3px;
}

.offerings .card-deck .image-box {
  width: 150px;
  height: 150px;
  margin: 0 auto;
}

.offerings .card-deck img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.offerings .card-deck p {
  font-size: 1em;
  text-align: center;
  color: #6B6B6A;
}

.offerings .card-deck h1 {
  font-size: 1.5em;
  text-align: center;
  color: #ED1C24;
  font-style: normal;
  font-weight: 500;
}

.offerings .card-deck button {
  background: #FFFFFF;
  border: 1px solid #01942A;
  box-sizing: border-box;
  width: 182px;
  height: 62px;
  color: #01942A;
  font-weight: bold;
}

.blog-section h2 {
  /* text-align: center; */
  margin-left: 90px;
}

.blog-section img {
  width: 100%;
  margin-bottom: 20px;
  margin-right: 20px;
}

.blog-section a {
  border: 1px solid #01942A;
  box-sizing: border-box;
  background-color: #FFFFFF;
  color: #01942A;
}

.blog-section .more-post {
  color: #ED1C24;
  font-weight: bold;
  white-space: nowrap;
}

.blog-section .arrow {
  /* width: 20%; */
  margin-bottom: 90px;
  /* margin-right: 20px; */
}

.subscribe h2 {
  font-weight: bold;
}

.subscribe p {
  font-size: 20px;
  color: #6B6B6A;
}

.subscribe .form-control {
  border: 1px solid #6B6B6A;
  box-sizing: border-box;
  width: 80%;
  margin-left: 200px;
}

.subscribe .btn {
  border: 1px solid #01942A;
  box-sizing: border-box;
  background-color: #FFFFFF;
  color: #01942A;
  text-align: center;
  display: block;
  margin: 0 auto;
  width: 20%;
  font-weight: bold;
}

/*TEXT COLORS */

.red {
  color: #ED1C24;
}

.green {
  color: #01942A;
}

/* PRODUCTS PAGE */

.products input, .products select {
  background: rgba(229, 229, 229, 0.3);
  border: 1px solid #000000;
  box-sizing: border-box;
}

.products label {
  text-align: center;
  color: #6B6B6A;
  white-space: nowrap;
}
.products select {
  color: rgba(34, 34, 33, 0.47);
}