html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-container{
  margin-right: auto;
}

.icon-container {
  margin-left: auto;
}